{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.773"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}

  cljs-node-io/cljs-node-io {:mvn/version "1.1.2"}

  cli-matic/cli-matic {
                       ;; :local/root "/Users/gar/cljs/cli-matic"
                       :mvn/version "0.4.3"
                       }
  funcool/cuerdas {:mvn/version "RELEASE"}
  expound/expound {:mvn/version "0.8.7"}
  com.taoensso/timbre {:mvn/version "5.1.0"}

  org.clojure/core.cache {:mvn/version "1.0.207"}

  org.clojars.mmb90/cljs-cache {:mvn/version "0.1.4"}

  ;; org.clojure/tools.cli {:mvn/version "1.0.194"}
  ;; instaparse {:mvn/version "1.4.10"}
  danlentz/clj-uuid {:mvn/version "0.1.9"}
  me.raynes/fs {:mvn/version "1.4.6"}
  stencil/stencil {:mvn/version "0.5.0"}
  }

 :paths ["clj/src"] ; "target"] ;; , "/Users/gar/bazel/obazl/tool/src"]
 :aliases {:dev {:extra-paths ["dev"]}
           :depstar
           {:extra-deps
            {seancorfield/depstar {:mvn/version "1.0.96"}}}
           :skip {:jvm-opts ["-Dclojure.spec.skip-macros=true"]}
           }
 }
